header
    background-image: url($header_bck)  
    background-size: 110%
    background-position: 48% 0%    
    background-repeat: no-repeat
    background-attachment: fixed
    // position: relative
    // min-height: 100vh
    // background-size: 55% cover
    // filter: brightness(70%)


    nav
        display: flex
        justify-content: center
        // background-color: aqua

        
        #navbar
            font-size: 80%
            // background-color: peru
            width: 93%

            button
                font-size: 70%
                padding-left: 2%
                padding-right: 2%
            
            #inside


                #navbarSupportedContent
                    // background-color: aqua
                    display: flex
                    align-items: end
                    ul
                        // background-color: red
                        display: flex
                        align-self: end
    .texte
        // position: relative

        display: flex
        // align-self: flex-end
        margin-top: 12%
        // padding: 20%
        margin-bottom: 14%
        // background-color: aqua
        width: 93%
  
        .left
            width: 50%
            // background-color: brown
            p
                
                // background-color: red
                font-size: 90%
                // font-weight: bolder
                font-family: Times, Times New Roman, serif
            
            .bottom

                button
                    font-size: 70%
                    padding-left: 4%
                    padding-right: 4%
                    font-weight: bold

        .right
            width: 50%
            // background-color: aquamarine
            display: flex
            // justify-content: flex-end
            align-items: center
            .box2
                // background-color: aqua
                margin-left: 57.5%
                padding: 1%
                
        
                border-top-left-radius: 50%
                border-top-right-radius: 50%
                border-bottom-left-radius: 50%
                border-bottom-right-radius: 50%

                button
                    border: none
                    background: none
@media (min-width:426px) and (min-width:725px) 
    header
        background-size: 110%  
        nav
            #navbar
                #inside
                    .collapse
                        ul
                            display: flex
                            flex-direction: row
                            align-self: flex-start
                            li
                                a
                                    // color: red !importantcec


                
                
    
