header
    background-image: url($header_bck)  
    background-size: cover
    background-position: 40% 70%
    background-repeat: no-repeat
    // transform: scale(1.15)
    display: flex
    justify-content: end
    flex-direction: column
    overflow: hidden
    // position: absolute
    // width: 100%
    nav
        display: flex
        justify-content: center
        // background-color: aqua
        // position: relative
        #navbar
            font-size: 80%
            // background-color: peru
            width: 95%

            button
                font-size: 70%
                padding-left: 2%
                padding-right: 2%
    .texte
        // position: relative

        display: flex
        align-self: center
        margin-top: 20%
        margin-bottom: 20%
        // background-color: aqua
        width: 95%
        .left
            width: 50%
            // background-color: brown
            
            .bottom

                button
                    font-size: 70%
                    padding-left: 4%
                    padding-right: 4%
                    font-weight: bold

        .right
            width: 50%
            // background-color: aquamarine
    
